.toplookout {
    margin-top: 75px;
    margin-bottom: 150px;
}

.link {
    color:red;
}

.link:hover {
    color: red;
    cursor: pointer;
}

.profilepic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: width 1.5s, height 1.5s, border-radius 1.5s;
}

.profilepic:hover {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 0%;
}

.spaceout{
    border-bottom: 1px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
}
