.toplookout {
    margin-top: 75px;
    margin-bottom: 150px;
}

Form {
  margin: 30px;
  text-align: left;
}

#login-btn {
  margin-bottom: 40px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.link {
    color:red;
}

.link:hover {
    color: red;
    cursor: pointer;
}

.profilepic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: width 1.5s, height 1.5s, border-radius 1.5s;
}

.profilepic:hover {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 0%;
}

.spaceout{
    border-bottom: 1px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.padded{
    padding-top: 20px;
}

.font1{
    font-family: 'Times New Roman', Times, serif;
}
