#prompt {
  font-size: 20px;
}

#request-form {
  margin: 20px;
  text-align: left;
}

.spaceout-tabs-contents{
  border-bottom: 1px solid black;
  padding: 40px;
  text-align: left;
  /* font-family: 'Times New Roman', Times, serif; */
}

.row-btns {
  margin-top: 25px;
  margin-right: 20px;
}
