.toplookout {
    margin-top: 75px;
    margin-bottom: 150px;
}

main {
  margin-top: 120px;
  text-align: left;
}

#title {
  color: #f9ab32;
  font-size: 70px;
}

#about {
  margin-top: 30px;
  margin-left: 10px;
  padding-right: 20px;
}

#join-btn{
  text-align: center;
  margin-left: 10px;
  margin-top: 15px;
}

.dashboard {
    text-align: left;
}

.profilepic2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: width 1s, height 1s, border-radius 1s;
}

.profilepic2:hover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0%;
}

.titleModal {
  margin: 0 auto;
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
}

.modalfield {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}
